ENV=test
HOST=localhost
PORT=2130
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=alx_store_db
POSTGRES_USER=postgres
POSTGRES_PWD=mysecretpassword


TOKEN_PRIVATE_KEY = MIICXQIBAAKBgQCFlQW1izKjgVe9WFzP2ib9jZS8FTR72nKp4EIJHgzKttUCCMoN
a3dji5eJJPqr+7YlNhjLiX+IJzb/XMYlWU7KL+NCjPaMJbMpM4VBBJYDCCDWlieK
0aGGaLo/Ayn+urCiZWE49CE51mBwdtxpQAN57UhtTs1jgGU6CQispZRnIQIDAQAB
AoGBAIE+o0x4hqE+NtcjVIFisBDo2Hx2A9bFj+We7iWGJphH96ZFPMFpNhVhbVer
KMIYA67TPYBI49SnJIZEjA5870Ysm+G8grQJ6msF05Kw1yPrd6vErKsp+BD32WXV
HslhiTs+uZDbvgdkykbeGwgEDJ3ywlKgowhK8Nlbdu7070kFAkEA8BqGtt0hFsRx
fsCNxsJ1Djgw7U2wO2u+uZkhEgd9hjLDFW24kA5wfnjE8L5QvK+VLml8oKoFuGwZ
oEQYic76fwJBAI5tFP57gXqYzOrBq4x/XsMD+HFRALVO7rqfPSf2bXxUH6ifbUPb
OIjuVkJNwmjZQc+910kv8mCgUTsXyxWtjl8CQEyKaD+LJq03Wmbpw0iFXQN3bkF3
7qJCqr5Hzn8M3DsXm5ENNTTXJY1runx0bxB3eLse7ZfaG5C7BUBN9PSZgskCQQCN
Ofr8UMlWIJfpHHuXyGDVrWU4L+Ms5YTxRp8ktkVgaCYwVU3KYGFR3ktoWaSxxORu
M0d7ifCkAbQqjXBSIZOvAkBwCcvvyIxhx9V1HuxdHMQKi+O7ANkzcBJH8Tv45KsX
lz2ptJb1CIMKEGcKB1CEgCLmAJ+pKrhugOHNaiolssgS

TOKEN_PUBLIC_KEY = MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCFlQW1izKjgVe9WFzP2ib9jZS8
FTR72nKp4EIJHgzKttUCCMoNa3dji5eJJPqr+7YlNhjLiX+IJzb/XMYlWU7KL+NC
jPaMJbMpM4VBBJYDCCDWlieK0aGGaLo/Ayn+urCiZWE49CE51mBwdtxpQAN57Uht
Ts1jgGU6CQispZRnIQIDAQAB